.App {
  text-align: center;
}


.App .main {
  background-color: rgb(106 224 235);
  width: 100%;
  border: 1px solid black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App #calendar {
  width: 100%;
  height: 77.24vw;
  background-image: url('./assets/30day.png');
  background-size: cover;
  border: 1px solid black;
}

.App #grid {
  border: 1px solid red;
  position: relative;
  top: 24%;
  left: 7.35%;
  width: 84.8%;
  height: 53.75vw;

}

.App img.calendar {
  width: 100%;
  height: auto;
}

.App-link {
  color: #61dafb;
}
